.cloud/
*.conf
*.db
*.db-shm
*.db-wal
google_calendars.yaml
.google.token
.HA_VERSION
*.log
secrets.yaml
.storage/
tts/
.vscode/
*.xml
blueprints/
home-assistant.log*
known_devices.yaml
backups/
custom_components/
zigbee.db*
