automation:
  - alias: Return Home Annoucement
    id: 57f1accf-7ab0-4346-ac95-0db120c693f2
    trigger:
      platform: zone
      entity_id:
        - device_tracker.michaels_iphone
      zone: zone.home
      event: enter
    condition:
      - condition: state
        entity_id: person.tiff
        state: "home"
      - condition: state
        entity_id: input_boolean.nap_mode
        state: "on"
    action:
      - service: notify.mobile_app_tiffanys_iphone
        data:
          title: "Mike is almost home"
          message: "Keep Stella Quiet"
      - delay:
          minutes: 15
    mode: single
    max_exceeded: silent

  - alias: Tiff Returning Home Notification
    id: 7979021b-cc82-4311-9e2c-e340d646d7ab
    trigger:
      platform: zone
      entity_id: person.tiff
      zone: zone.home
      event: enter
    condition:
      - condition: state
        entity_id: person.mike
        state: "home"
        for:
          minutes: 10
    action:
      - service: notify.mobile_app_michaels_iphone
        data:
          title: "Tiff is returning home"
          message: "Tiff has entered the home zone"
          data:
            tag: "tiff-return-home"
            group: "presence-notification"

  - alias: Update notification
    id: db03afc6-87cc-47eb-b9e4-15fccfb13c79
    trigger:
      - platform: state
        entity_id: binary_sensor.docker_hub_update_available
        to: "on"
    action:
      - service: notify.mobile_app_michaels_iphone
        data:
          message: "There is a new Home Assistant release available."
